<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% block title %}Pair Journal{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" 
	  rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" 
	  rel="stylesheet">

    <!-- custom styles -->
    <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911"
	  rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100"
	  rel="stylesheet" type="text/css">
    <link href="{% static "custom.css" %}" rel="stylesheet">

    {% block head_scripts %}
    {% endblock %}

  </head>

  <body>

    <div class="navbar">
      <div class="container">
	<div class="navbar-header">
	  {% block navbar_header_fill %}
	  <a class="navbar-brand" href="/">PairJournal</a>
	  {% endblock %}
	</div><!-- navber-header -->
	{% block navbar_fill %}
	{% endblock %}
      </div><!-- container -->
    </div><!-- navbar -->

    {% block content %}
    <div class="container">
      <h1>Pair Journal</h1>

      <p>This is the template page!</p>
    </div><!-- container -->
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block body_scripts %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock %}

  </body>

</html>
